.DS_Store
private.key
public.key
server.csr
server.key
server.pem
build/*
sdk/*
data/*
tools/*

# FreeCAD artifacts
*.brp
*.FCBak
*.FCStd.zip
*Shape.Map.txt
*AddSubShape.Map.txt
*InternalShape.brp
*SuppressedShape.brp
LineColorArray*
PointColorArray*
ShapeAppearance*
StringHasher.Table.txt
CNC/Document.xml
CNC/GuiDocument.xml
CNC/thumbnails/