.roundslider-knob {
width: 220px;
height: 220px;
background: rgb(222, 222, 222);
border-radius: 50%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
align-items: center;
justify-content: center;
}
.roundslider-knob .roundslider-rotator {
width: 180px;
height: 180px;
background: rgb(235, 235, 235);
border-radius: 50%;
box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), inset 1px 2px 1px white, 2px -1px 1px rgba(0, 0, 0, 0.2), -1px 0px 1px rgba(0, 0, 0, 0.2);
display: flex;
align-items: center;
position: relative;
z-index: 1;
}
.roundslider-knob .roundslider-text {
width: 40px;
height: 40px;
margin: 0 15px;
border: 0.3mm solid rgba(57, 55, 53);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}
.roundslider-pointer {
position: absolute;
width: 30px;
height: 30px;
top: calc(50% - 10px);
left: 0;
display: flex;
align-items: center;
justify-content: flex-start;
transform-origin: 110px 10px;
transform: rotate(-45deg);
}
.roundslider-pointer svg {
width: 30px;
height: 30px;
transform: rotate(180deg) translateX(0px);
}
.roundslider-progress-bar circle {
fill: none;
}
.roundslider-progress-bar circle:nth-child(1) {
stroke: rgba(0, 0, 0, 0.7);
stroke-width: 15px;
stroke-dasharray: 660;
transform-origin: center;
transform: rotate(135deg);
stroke-linecap: round;
}
.roundslider-progress-bar circle:nth-child(2) {
stroke: rgb(2, 117, 232);
stroke-width: 15px;
stroke-dasharray: 880;
stroke-dashoffset: calc(880 - (660 * 0) / 100);
transform-origin: center;
transform: rotate(135deg);
stroke-linecap: round;
}
